/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .contact-img img {
    max-width: 350px;
  }

  .isi-slider img, .image-slider { 
    height: 250px; 
  }

  /* display about gallery untuk tablet dan smartphone */
  .about-wrapper .container .flex-container{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .content .content-overlay {
    opacity: 0.7;
  }

  .content-details {
    opacity: 1;
  }

  .fadeIn-top {
    top: 50%;
  }
}

/* display about gallery untuk tablet dan smartphone */
@media screen and (min-width: 1000px) {

  .content .content-overlay {
    opacity: 0;
  }

  .content-details {
    opacity: 0;
  }

  .fadeIn-top {
    top: 20%;
  }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .contact-wrapper .flex-container {
    display: block;
    text-align: center;
  }
  .contact-wrapper .column {
    width: calc(100% - 30px);
  }
  .contact-wrapper .contact-submit {
    width: 100%;
    display: block;
  }
}