@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: white;
    /* Ubah position ke fixed, dan top ke 0 */
    position: fixed;
    top: 0;
    
    /* Ubah z-index ke 10 */
    z-index: 10;
  }
  
  .title{
    float: right;
    line-height: 65px;
    padding: 0 15px;
    display: block;
    font-weight: bold;
    color: #1b3e93;
    font-size: large;
  }

  .logo {
    width: 50px;
    margin-top: 5px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    display: block;
  }
  
  .lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: 700;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .partnership-wrapper{
    border-bottom: 1px solid #eee;
    background-color: #f7f7f7;
    padding-bottom: 80px;
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: center;
  }

  .partnership-wrapper .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  .partner-logo:hover {
    animation: shake 3s;
    animation-iteration-count: infinite;
  }

  .partner-logo{
    height: 30px;
  }

  .service-wrapper{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 80px;
    text-align: center;
    height: 540px;
  }

  .service-wrapper h2{
    color: white;
  }

  .service-wrapper .flex-container > div {
    margin: 10px;
    padding: 20px;
    height: 320px;
    width: 250px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
  }

  .service-wrapper .flex-container > div > img{
    margin: 5px auto;
  }

  .service-wrapper .flex-container > div > h3{
    font-size: 14pt;
  }

  .service-wrapper .flex-container > div > p{
    font-size: 11pt;
  }

  footer img {
    padding-top: 50px;
    width: 125px;

    margin-left: 50px;
  }
  footer h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
  }
   

  
  
  footer p {
    color: rgba(255, 255, 255, 0.726);
    font-size: 15px;
    text-align: center;
  
    opacity: 10;
  

  }
  footer{
    margin-top: 250px;
  
  }
  
  footer .container  {
    display: flex;
    width: 100%;
    /* mengatur arah container */
    /* flex-direction: column; */
  
   
    box-sizing: border-box;
    z-index: 0;
    justify-content: space-evenly; 

    align-items:stretch;
    /* background-color:  #d3c9c9; */
    background-color: #98a8b4;


    /* background-color: #d4d1d4; */
  
    /* background-color:rgba(11, 200, 221, 0.863) ;
     */



  
    
  }
  footer .container div{
    width:250px ;
  
    margin: 2px;
   

  }
  
 
  footer .copy-rights{
    display: flex;
    background-color: #98a8b4;
    height:fit-content;


    /* background-color:rgba(11, 200, 221, 0.863) ; */
    width: 100%;
    justify-content: center;
  
  }
  footer .container .followus{
    text-align: center;
    list-style: none;

    
  }
  footer .judul-followus{
    font-size: 20px;

  }

  footer .social-media{
    list-style: none;
    text-align: left;
    font-size: 20px;
   
  
   
   
  }
  .btn{
    border-radius: 5px;
  }
  
   footer .btn:hover{
    opacity: 10;


  }
  footer .instagram{
    background-color: #3f729b;
    margin-top: 5px;
    border-radius: 10px;
   
  }
  footer .youtube{
    background-color: #c4302b;
    margin-top: 5px;
    border-radius: 10px;

    
  }
  footer .facebook{
    border-radius: 10px;
    
    margin-top: 5px;
  }
  footer .twitter{
    background-color: #00b6eef1;
    border-radius: 10px;
  }
  footer .whatsapp{
    background-color: #5dca88;
    margin-top: 5px;
    border-radius: 10px;
  }
  footer .container div.payment{
    width: 300px;
  
  }

  footer .payment-method {
    display: flex;
    box-sizing: border-box;
    
    flex-wrap:wrap;
  }
  footer .payment-method img{
     /* background-color: black; */
    width: 50px;
    
    margin: 2px;
    justify-content: flex-end;
  }
  footer .google{
    height: 50px;
  }
  
  
 
  
 
   
 
  
  