@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: white;
    /* Ubah position ke fixed, dan top ke 0 */
    position: fixed;
    top: 0;
    
    /* Ubah z-index ke 10 */
    z-index: 10;
  }
  
  .title{
    float: right;
    line-height: 65px;
    padding: 0 15px;
    display: block;
    font-weight: bold;
    color: #1b3e93;
    font-size: large;
  }

  .logo {
    width: 50px;
    margin-top: 5px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    display: block;
  }
  
  .lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: 700;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  .partnership-wrapper{
    border-bottom: 1px solid #eee;
    background-color: #f7f7f7;
    padding-bottom: 80px;
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: center;
  }

  .partnership-wrapper .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  .partner-logo:hover {
    animation: shake 3s;
    animation-iteration-count: infinite;
  }

  .partner-logo{
    height: 30px;
  }

  .service-wrapper{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 80px;
    text-align: center;
    height: 540px;
  }

  .service-wrapper h2{
    color: white;
  }

  .service-wrapper .flex-container > div {
    margin: 10px;
    padding: 20px;
    height: 320px;
    width: 250px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
  }

  .service-wrapper .flex-container > div > img{
    margin: 5px auto;
  }

  .service-wrapper .flex-container > div > h3{
    font-size: 14pt;
  }

  .service-wrapper .flex-container > div > p{
    font-size: 11pt;
  }

  /* Contact Form */
  p.subtitle {
    color: #969696;
  }
  .contact-wrapper {
    border-bottom: 1px solid #eee;
    background-color: #f7f7f7;
    padding: 0 0 80px;
    text-align: center;
  }
  .contact-wrapper .column {
    width: 50%;
  }

  .column.contact-img, .column.contact-form {
    padding: 30px;
  }
  .contact-img img {
    width: 100%;
    height: 100%;
  }

  .contact-form-detail {
    padding: 0 30px;
  }
  label.form-label {
    display: flex;
    color: #5f5d60;
    font-weight: bold;
  }
  input, textarea {
    width: 100%;
    margin: 10px 0 20px;
    padding: 13px;
    font-size: 16px;
    border: 1px solid #dee7ec;
    display: block;
    border-radius: 7px;
    border: 1px solid rgba(8,60,130,.07);
    box-shadow: 0 0 1.25rem rgb(30 34 40 / 4%);
  }

  .form-control:focus {
    color: #60697b;
    background-color: #fefefe;
    border-color: #9fbcf0;
    outline: 0;
    box-shadow: 0 0 1rem rgb(89 146 178 / 10%);
  }

  .contact-wrapper .contact-submit {
    padding: 15px 40px;
    background-color: #0b5ca0;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 7px #18507f;
    font-weight: 600;
    width: auto;
    display: flex;
  }

  .contact-submit:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
  }